<mat-tab-group>
  <mat-tab> 
    <ng-template mat-tab-label>
      <mat-icon svgIcon="task-icon" class="tab-icon"></mat-icon>
      Tasks
    </ng-template>
  </mat-tab>
  <mat-tab> 
    <ng-template mat-tab-label>
      <mat-icon svgIcon="reward-icon" class="tab-icon"></mat-icon>
      Reward
    </ng-template>
  </mat-tab>
  <mat-tab> 
    <ng-template mat-tab-label>
      <mat-icon svgIcon="calendar-icon" class="tab-icon"></mat-icon>
      Calendar
    </ng-template>
  </mat-tab>
</mat-tab-group>
  